{% extends "/layout/layout.html" %}

{% block style %}
	<link rel="stylesheet" href="../../static/styles/aboutpage.css">
{% endblock %}

{% block content %}
	<div class="container">
        <div class="container-left">
            <h2>About Us</h2>
            <h1>Upgrade your style. Elevate your everyday.</h1>
            <p>Welcome to Ly’s E-Commerce, your trusted destination for quality products and a smooth shopping experience. We created this platform with one goal in mind: to make online shopping simple, enjoyable, and accessible for everyone.</p>
            <p>At Ly’s E-Commerce, we carefully select every item—from fashion to daily essentials to ensure great value and dependable quality. Our team works hard to bring you the latest trends, reliable service, and fast delivery, so you can shop with confidence.</p>
        </div>

        <div class="container-right">
            <img src="../../static/images/about.jpg" alt="about-us">

            <div class="grid-card">
                <div class="card">
                    <h1>100K</h1>
                    <span>Business Partners</span>
                </div>
                <div class="card">
                    <h1>1M+</h1>
                    <span>Customers Yearly</span>
                </div>
                <div class="card">
                    <h1>50 Years+</h1>
                    <span>Experiences</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}