{% extends "/layout/layout.html" %}

{% block style %}
    <link rel="stylesheet" href="/static/styles/dashboardpage.css">
{% endblock %}

{% block content %}

<div class="profile-container">
    <div class="profile-card">
        <form id="updateProfileForm">
            <div class="profile-image-wrapper">
                <img id="profilePreview" src="/static/avatars/{{ user.avatar }}" alt="Profile Image">
                <input type="file" id="profileImage" name="profile" accept="image/*" style="display: none;">

                <button class="change-profile-btn" type="button" onclick="document.getElementById('profileImage').click()">
                    Change Profile
                </button>

                <button class="save-profile-btn" type="submit">
                    Save Profile
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById("profileImage").addEventListener("change", function (event) {
        const img = document.getElementById("profilePreview");
        img.src = URL.createObjectURL(event.target.files[0]);
    });

    document.getElementById("updateProfileForm").addEventListener("submit", async function (e) {
        e.preventDefault();

        const formData = new FormData();
        const imageFile = document.getElementById("profileImage").files[0];

        if (imageFile) {
            formData.append("profile", imageFile);
        }

        const response = await fetch(`/user-profile`, {
            method: "POST",
            body: formData,
            credentials: "include"
        });

        const data = await response.json();
        console.log(data);

        if (response.ok) {
            window.showAlertModal?.("Profile updated successfully", { type: "success", duration: 2000 });
            setTimeout(() => location.reload(), 2000);
        } else {
            window.showAlertModal?.("Failed: " + (data.message || "Unknown error"), { type: "error", duration: 2000 });
        }
    });
</script>

{% endblock %}
