<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles/loginpage.css">
    <link rel="icon" href="/static/images/Logo.jpg">
</head>
<body>
    <div class="container">
        <div class="container-left">
            <img src="/static/images/login.jpg" alt="Home Image">
        </div>

        <div class="container-right">
            <div class="login-card">
                <a href="/register" class="top-signin-btn">
                    Sign Up
                </a>
                <h2>Welcome Back!</h2>
                <p class="subtitle">Sign in to your account</p>

                <form id="loginForm">
                    <div class="float-group">
                        <input id="username" type="text" name="username" placeholder=" " required autocomplete="off">
                        <label>Your Username</label>
                    </div>
                    <div class="float-group">
                        <input id="password" type="password" name="password" placeholder=" " required>
                        <label>Password</label>
                    </div>
                    <div class="checkbox-group">
                        <label><input type="checkbox"> Remember Me</label>
                        <a href="#">Forgot Password?</a>
                    </div>
                    <button type="submit" class="submit-btn">Login</button>
                </form>

                <p class="signup-link">Don't have an account? <a href="/register">Register</a></p>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("loginForm").addEventListener("submit", async function (e) {
            e.preventDefault();

            // Get and trim values
            const username = document.getElementById("username").value.trim();
            const password = document.getElementById("password").value.trim();

            if (!username || !password) {
                return;
            }

            const data = {username, password};

            try {
                const res = await fetch("/login", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(data)
                });
                const result = await res.json();

                if (res.ok) {
                    window.location.href = "/dashboard";
                } else {
                    alert(result.error || "Login failed");
                }
            } catch (error) {
                alert("Network error");
            }
        });
    </script>

</body>
</html>
