.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "MyFont", sans-serif;
    padding: 30px;
    width: 80%;
    margin: 20px auto 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border-radius: 15px;
}

.container-left h2{
    color: #3B82F6;
    margin-bottom: 20px;
}

.container-left h1{
    margin-bottom: 30px;
}

.container-left p{
    line-height: 1.6;
    padding: 10px;
}

.container-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.container-right{
    width: 50%;
    gap: 10px;
}

.container-right img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.grid-card {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 20px;
    gap: 20px;
}

.card {
    flex: 1;
    aspect-ratio: 1 / 1;
    border-radius: 18px;
    padding: 25px 20px;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.card h1 {
    font-size: 32px;
    font-weight: 700;
    color: black;
    margin-bottom: 10px;
}

.card span {
    font-size: 15px;
    color: #555;
}
