main {
    margin-top: 10px;
    font-family: "MyFont", sans-serif;
}

.hero-banner {
    position: relative;
    width: 100%;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
    border-radius: 20px;
    display: block;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-text h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.next-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background-color: white;
    padding: 12px 30px;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease;
}

.next-btn:hover {
    background-color: black;
}

.shop-btn {
    color: black;
    font-family: "MyFont", sans-serif;
    text-decoration: none;
    transition: 0.3s ease;
}

.next-btn:hover .shop-btn {
    color: white;
}

.icon-circle {
    width: 32px;
    height: 32px;
    background: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.next-btn:hover .icon-circle {
    background: white;
}

.icon-circle svg {
    color: white;
    width: 16px;
    height: 16px;
    transition: 0.3s ease;
}

.next-btn:hover .icon-circle svg {
    color: black;
}

.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 10px;
    padding: 10px 30px;
}

.category a{
    text-decoration: none;
}

.category-buttons {
    display: flex;
    gap: 10px;
}

.category-btn {
    padding: 8px 20px;
    border-radius: 50px;
    border: 1px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}

.category-btn:hover {
    background-color: black;
    color: white;
}

.category-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    gap: 30px;
    margin: 10px auto 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;


}

.category-item {
    position: relative;
    width: 320px;
    max-width: 100%;
}

.category-item:hover img{
    transform: scale(1.03);
    filter: brightness(0.85);
    transition: transform 0.4s ease;
}

.category-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    border-radius: 15px;
}

.category-btn-img {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 16px;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}

.category-btn-img:hover {
    background-color: rgba(0,0,0,0.8);
}

.products-container{
    padding: 20px;
}

/* Grid Layout */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    padding: 20px 0;
}

.product-card {
    background: #fff;
    border-radius: 18px;
    padding: 18px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    transition: 0.3s ease-in-out;
}

.product-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.product-img-box {
    background: #f7f7f7;
    border-radius: 14px;
    padding: 15px;
    text-align: center;
}

.product-img-box img {
    width: 100%;
    height: 170px;
    object-fit: contain;
}

/* Product Text */
.product-name {
    font-size: 18px;
    font-weight: 700;
    margin-top: 12px;
}

.product-category {
    font-size: 13px;
    color: #ff7c3e;
    font-weight: 600;
    margin-top: 4px;
}

.product-description {
    font-size: 14px;
    color: #6b6b6b;
    margin: 10px 0 15px;
    height: 40px;
    overflow: hidden;
}

.price-row {
    margin-bottom: 15px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: #111;
}

.add-btn {
    width: 100%;
    background: #0A1D41;
    color: #fff;
    padding: 12px 0;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.add-btn:hover {
    background: #0d244f;
}

.add-btn svg{
    fill: transparent;

}


.price-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.qty-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.qty-btn {
    width: 28px;
    height: 28px;
    border: none;
    background: #f0f0f0;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: 0.2s ease;
}

.qty-btn:hover {
    background: #ddd;
}

.qty-input {
    width: 40px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 6px;
}



